@font-face {
  font-family: myFont;
  src: url(Pasajero-95AL.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("./image/green.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.heading {
  color: #0cf39e;
  padding-left: 100px;
  padding-top: 20px;
  letter-spacing: 5px;
  text-shadow: 0 0 3px #02fcb9;
}

body {
  font-family: myFont;
  font-variant: small-caps;
  font-size: 1vw;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.catagory {
  text-align: center;
  padding-top: 100px;
}

a {
  color: #0cf39e;
  letter-spacing: 5px;
  text-shadow: 0 0 3px #02fcb9;
}

h1 {
  color: #0cf39e;
  letter-spacing: 5px;
  text-shadow: 0 0 3px #02fcb9;
}

.street {
  text-align: center;
  padding-top: 170px;
}

.social {
  padding-left: 10px;
  padding-top: 100px;
}

nav {
  position: fixed;
  width: 70px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}

nav li {
  height: 60px;
  position: relative;
}

nav li a {
  color: #02fcb9;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  padding-left: 25%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

nav li a i {
  position: absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}

nav li a span {
  font-weight: bold;
  letter-spacing: 1px;
  display: none;
}

a:hover {
  z-index: 1;
  width: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

ul li a:hover span {
  display: block;
  padding-left: 20%;
}
